# Lineendings
*.au3        eol=crlf

# Whitespace rules
# strict (no trailing, no tabs)
*.au3        whitespace=trailing-space,space-before-tab,cr-at-eol

# special files which must ignore whitespace
*.patch      whitespace=-trailing-space
